[2017-08-03 00:53] nickdiego opened #1 "Add bash completion support"

[2017-08-03 00:54] nickdiego opened #2 "Support ccache (and other 'wrappers"

[2017-08-03 14:26] nickdiego opened #3 "Support setting AOSP combo from command line option"
Currently it tries to use aosp_x86_64-eng by default.

Investigate it better.

[2017-09-28 06:30] daniel6651 opened #4 "Bug on row 67 in parser?"
Hi

On row 67 in compiledb-gen-parser, include_path_prefix is given as both second and third argument to parse_flags:
        (count, skipped, compile_db) = parse_flags(build_log, include_path_prefix, include_path_prefix)

But second argument to parse_flags is proj_dir:
        def parse_flags(build_log, proj_dir, inc_prefix):

So shouldn't row 67 be changed to send in proj_dir as second argument

[2017-09-28 17:13] nickdiego commented on #4
Hi, thanks for reporting this issue..

Looks like you're right. Probably didn't get this, because I've tested most of the time with docker-based AOSP build env, where I've used/introduced --include-prefix to force include paths prefix pointing to host paths..

Can you send the pull request?

[2017-11-06 07:12] daniel6651 commented on #4
Hi

I sent a pull request a while ago on this. Could you have a look at it?

Cheers,

Daniel

[2017-11-06 22:12] #4 closed

[2017-11-06 22:13] nickdiego commented on #4
Thanks!

[2017-11-08 06:22] ryosa opened #6 "Doesn't emit subdir."
In the output file, "directory" contains only the project root, not the full path to "file". Then `scan-buld` does nothing.

[2017-11-17 10:16] lyonlh commented on #6
@ryosa, file path is at "file" field. I guess the reason scan-build does nothing is the project-root path is not absolute. I've opened a pull request to solve this problem.

[2017-11-17 23:57] nickdiego commented on #6
@ryosa Yeah, currently _directory_ is always set to PROJ_DIR cmd line option. _directory_ is expected to be the build working dir at the point that _compilation unit_ was compiled [[1]](https://clang.llvm.org/docs/JSONCompilationDatabase.html#format)

The right way to solve this problem actually would be to process the the make messages about "directory changing", and use that to set "directory" p

[2017-11-18 00:01] nickdiego commented on #6
Not sure if that would solve this problem. Probably this is happening because the build system is using relative paths (relative to the current building dir) to the source files.

@ryosa can you please provide some log of your build and maybe some other infos (build system used, etc.) ??

[2017-11-18 05:49] ryosa commented on #6
@nickdiego  I use _analyze-build_ of clang 3.4, not _scan-build._ Sorry to confuse you.
I can provide you with a part of build log, but the server's default language is Japanese and the messages of _make_ are not English. Is that alright with you?

[2017-11-18 08:53] nickdiego commented on #6
@ryosa Ok. I think you can use `LANG=C` before your make command to force the output to be in english. Actually, I think `compiledb-parser` expects it to be in english, not sure.

example command:

[code]
Thanks

[2017-11-18 12:27] lyonlh commented on #6
@nickdiego You're right. I've create a new pull request which leverage make --print-directory option to get the subdir and put it into "directory" field.
@ryosa Maybe this is the solution.

[2017-11-19 00:33] nickdiego commented on #6
@ryosa As #8 has been merged, please check if it solves this issue.

[2017-11-20 01:09] ryosa commented on #6
@nickdiego @lyonlh Thanks. But #8 didn't solve the issue. Below is a part of build log.
<pre>
 make[4]: Entering directory `/root/ymph3/src/syssrc/drv'
 cd ../../.. && make  am--refresh
 make[5]: Entering directory `/root/ymph3'
 make[5]: Nothing to be done for `am--refresh'.
 make[5]: Leaving directory `/root/ymph3'
 make[5]: Entering directory `/root/ymph3'
 make[5]: Nothing to be done for `am--

[2017-11-20 01:15] nickdiego commented on #6
I don't see any "compilation command" in this log.
Do you have some compile command example?
We need that to try to figure out why it's not generating the expected output.

[2017-11-20 01:23] nickdiego commented on #6
Looks like there's some checking (maybe from _automake_, looks like you're using autotools as build system) which overrides the behavior of "make -B", what should force all the targets to be executed unconditionally.
I think you have 2 options to workaround this:
1. Try clean build (you can use a separate build dir if your build system supports shadow building, e.g: `mkdir build2 && cd build2 && c

[2017-11-20 01:48] ryosa commented on #6
@nickdiego Here is a command line to compile /root/ymph3/src/syssrc/drv/DevInit.cpp

Yes, the project utilizes _automake_. I would have to _make clean_ then build to generate Makefiles, which takes 6 hours...

[2017-11-20 05:25] lyonlh commented on #6
@ryosa @nickdiego
Sorry, it's my bug introduced in [#8](https://github.com/nickdiego/compiledb-generator/pull/8).
After investigated the build log and pared it by the parser, I figured out that the regex mismatched cause of head white-space. I fix it in pull request [#9](https://github.com/nickdiego/compiledb-generator/pull/9).
Please try again.

Thanks.

[2017-11-20 07:40] ryosa commented on #6
@lyonlh #9 looks good. Thanks a lot.

But checking the output json, I had a question, that is, relative path is included in 'file'. Here is an example.

<pre>
  "directory": "/root/ymph3/src/ipsrc/IPparameters/forCps2010",
  "arguments": [
   "c++",
   "-DHAVE_CONFIG_H",
   "-I.",
   "-I../../../..",
   "-I.",
   "-I../inc",
   "-I../../..//inc",
   "-I../../..//config",
   "-I../../..//../OSWrapp

[2017-11-20 08:06] ryosa commented on #6
Clang seems to understand relative path in 'file'. It didn't output error for the 'command' and 'file' in question.

[2017-11-20 08:13] lyonlh commented on #6
@ryosa But it seems weird, there are some quote in the file field, the file path is retrieved from build log and should not be add additional characters. Could you please provide some build logs? So I can check this issue.
Thanks.

[2017-11-20 08:26] nickdiego commented on #6
Yeah, as @lyonlh said, thia one for example is pretty weird. We need to see the exact log line thelat generated this entry to try to figure it out why this is happaning.

thanks

[2017-11-20 08:28] nickdiego commented on #6
Also, i think this particular issue is already solved. Thanks to @lyonlh and @ryosa por reporting it. So I'll close this and this escaping related issue can be open and we can move the discussion to it.

[2017-11-20 08:28] #6 closed

[2017-11-21 00:26] ryosa commented on #6
The quotes in 'arguments' and 'file' were due to description in Makefile.

	$(AM_V_CXX)$(CXX) $(DEFS) $(DEFAULT_INCLUDES) $(INCLUDES) $(AM_CPPFLAGS) $(CPPFLAGS) $(AM_CXXFLAGS) $(CXXFLAGS) -MT ddVirtualVD.o -MD -MP -MF $(DEPDIR)/ddVirtualVD.Tpo -c -o ddVirtualVD.o `test -f 'HardwareDriver/ddVirtualVD.cpp' || echo '$(srcdir)/'`HardwareDriver/ddVirtualVD.cpp

As long as clang properly deals with this

[2017-12-27 15:29] bartlibert opened #12 "Preprocessor directives with spaces are incorrectly parsed"
When the command line used to compile a file contains "-D somedefine", the generated compile_commands.json file will contain the string "-D" in the arguments array, instead of "-D somedefine".
If the command line is "-Dsomedefine", it works as expected.

I have checked gcc documentation but I have found no answer to the question of the correct way "-Ddefine" or "-D define", so if you find informat

[2018-01-03 20:28] OmegaPhil opened #13 "Commands parsed incorrectly when shell/bash substitution commands are used"
I'm currently working on clang static analysis capability with an autotools codebase, so thanks for this tool to plug the compilation database hole!

This is probably an unusual thing, but in my inherited project there are some macros for paths [which are speechmark-delimited](https://git.xfce.org/panel-plugins/xfce4-hardware-monitor-plugin/tree/src/Makefile.am#n44): HARDWARE_MONITOR_GLADEDIR and

[2018-01-03 21:12] OmegaPhil commented on #13
Removing the speechmarks broke the build, so I guess they are required and this is a real bug...

[2018-01-04 00:48] nickdiego commented on #13
Thanks for reporting this.
Indeed, autotools generate some very tricky makefile commands, most of them using some "bash magic".

Although in this particular case simple replace regex operations seems to solve the issue, I need to implement some unit tests as the parsing complexity is increasing, so the we can make sure we're not adding some regressions to the parser code. So, the fix can be delaye

[2018-01-04 00:52] nickdiego commented on #13
About this one, I guess it happens for this kind of make rules:
https://github.com/nickdiego/compiledb-generator/issues/6#issuecomment-345876057

Anyway, I'll try to address this issue soon, not sure if  there will be some clean/non-hacking solution :(

[2018-01-04 17:31] OmegaPhil commented on #13
Here is the workaround I use atm to fix the json file:

sed -i "s^'./'\`^^g" compile_commands.json; sed -i 's/\\\\\\\"\\\"/\\"/g; s/\\"\\\\\\"/\\"/g; s/\\\\\\"/\\"/g;' compile_commands.json

I had to break into 2 sed commands as the quote meant bash weak quoting was required, which would have resulted in a real escaping mess.

If this problem wasn't two things removed from my main task, yes I'd ha

[2018-01-04 17:42] OmegaPhil opened #14 "Backtick introduced into relative source file paths in compilation database"
Similar to [this bug](https://github.com/nickdiego/compiledb-generator/issues/6), it looks like the relative paths for source files are mangled at the start - the backtick completely breaks things here:

[code]

libtool is probably doing something weird here, as the result is a shared object ([XFCE4 panel plugin](https://git.xfce.org/panel-plugins/xfce4-hardware-monitor-plugin/) project).

Version

[2018-01-14 10:54] OmegaPhil commented on #13
Here is the relevant target in the produced makefile:

[code]

Output of 'make -Bnkw' for one of the binaries being compiled:

[code]

So it looks like libtool is doing something odd here at the end (I only have basic autotools progression so this isn't something I can talk about or get into).

I'm just a user passing by to get at clang static analysis output on this codebase, I don't use clang ot

[2018-01-14 13:11] lyonlh commented on #13
@OmegaPhil

Thank you for the detailed information.

I figure out that the `backslash` and `double-quote` in the `Makefile` is for `shell quotation`, and under this condition`compiledb-generator` adds additional when dump to output using `json.dump`. So the solution I recommended is, run `make` without the `dry-run` option `-n` in order to let `shell` consume the quotes just for it.

Could you ple

[2018-01-15 19:12] OmegaPhil commented on #13
Nope, still the same:

[code]

[2018-01-16 07:08] lyonlh commented on #13
@OmegaPhil

The root cause is `make` echoes the raw commands by default, so that the output of `make` contains both the no-interpreted and interpreted commands. If I didn't guess wrong, the right items are also in the compilation database file. The last step we should do is to keep `make` silent by feeding it `-s` option :smile:
`make -sBkw | compiledb-gen-parser -o compile_commands.json`

[2018-01-16 21:08] OmegaPhil commented on #13
Good call - with the unchanged compile_commands.json from the last test:
[code]
Regenerating the database via the new call only results in one output of bar-view (etc), which just leaves the speechmarks issue:
[code]

[2018-01-17 04:21] lyonlh commented on #13
@OmegaPhil

It's time to let `shell` do the last work. Tiger `shell`' with XTRACE to print out the interpreted commands.

`make -sBkw SHELL='sh -x' |& sed -n -e '/^\+ sh -x/p' -e '/^make/p' | ~/Tools/compiledb-generator/compiledb-gen-parser -o compile_commands.json`

[2018-01-17 19:28] OmegaPhil commented on #13
Yes, this works - speechmarks are dealt with too now - thanks.

[2018-02-13 14:19] seabadger opened #15 "-D option w/o value won't be picked up"
The script recognizes switches of the firm - DFOO=bar, but not - DFOO

[2018-02-13 14:28] seabadger opened #16 "Compiler detection regex will have false positives"
The regex for finding the compiler invocation will find non-compilation lines that, for instance, happen to run a command that has something like gcc as an argument , or a switch name (or even part of a switch name).

Not sure how to solve this fully short of parsing shell syntax, but the regex can be tighter than it is now.

[2018-02-28 00:27] eklitzke commented on #14
This isn't really a libtool thing, it's something automake does. I'm trying to figure out if there's a non-gross way to fix this.

[2018-02-28 13:23] nickdiego commented on #14
Yes, you're right. It's already been marked as a autotools-specific issue, caused when more complex shell commands are present. Unfortunately I'm currently with no time to look into this issue..
Feel free to try some solution that could solve that in a more generic way.. Maybe [something in this direction](https://github.com/nickdiego/compiledb-generator/issues/13#issuecomment-358193045) would be

[2018-03-06 10:20] lyonlh commented on #14
@eklitzke
I wrote a new tool by pure shell, which intercept implicit variable CC and CXX. I think it can resolve the problem. You can give it a try.

[2018-03-06 10:25] lyonlh commented on #16
@seabadger
I have wrote a new tool named [Mint](https://github.com/lyonlh/Mint). Mint intercept the implicit variable CC and CXX to retrieve the compile commands, so that there would be not the noisy non-compilation lines. You can give it a try.

[2018-04-05 07:14] daniel6651 opened #19 "Include --sysroot=.* in flags_whitelist"
Hi

In a test project I have a different sysroot set and discovered that the generated compile_commands file doesn't currently include that flag.
I use the generated file for running clang-tidy and for that to work I need the --sysroot set correctly in compile_commands.
I did a test with adding --sysroot=.* in flags_whitelist myself and that seems to do the trick.

So could you please do that upda

[2018-05-08 06:14] bartlibert opened #21 "Error with compiledb-gen-make when no exclude flags specified"
When I run compiledb-gen-make without any exclude flags, the program crashes:

[code]
The following does work (i.e. an empty exclude list)
[code]

[2018-05-08 19:47] #15 closed

[2018-05-08 19:54] #21 closed

[2018-05-09 03:09] nickdiego commented on #21
Thanks for reporting.
Could you please retest it?

PS: I'm gonna add unit tests/CI soon.

[2018-05-09 03:10] nickdiego commented on #19
Done.
Thanks for reporting this.

[2018-05-09 03:11] nickdiego commented on #15
Done. Aorry for the delay and thanks for reporting this.

[2018-05-09 07:27] bartlibert commented on #21
Works as expected now, thanks for the quick fix!

[2018-05-10 17:18] #19 closed

[2018-05-11 19:19] nickdiego opened #24 "Refactor compiledb-parser as a python module"

[2018-05-11 19:20] nickdiego opened #25 "Add basic unit tests"

[2018-05-11 19:21] nickdiego opened #26 "Configure Continuous Integration"

[2018-05-11 19:22] nickdiego opened #27 "Restructure as python module"

[2018-05-13 01:56] agnjunio commented on #24
Isn't the same of #27 ?

[2018-05-13 02:35] agnjunio commented on #27
I'm gonna implement the setup.py of the project to publish in pypi.org

[2018-05-13 03:41] nickdiego commented on #24
Closed by #23

[2018-05-13 03:41] #24 closed

[2018-05-13 03:42] nickdiego commented on #27
Ok :+1:

[2018-05-13 05:41] nickdiego commented on #27
[compdb](https://github.com/Sarcasm/compdb/blob/master/setup.py) seems to be a good reference to this task :)

[2018-05-13 06:28] agnjunio commented on #27
http://setuptools.readthedocs.io/en/latest/setuptools.html#automatic-script-creation

Please take a look here and see which scripts we want to expose and what modules they will call respectively. I will only add the parser which we already modularized, but I think that we'll need to do this for the others too.

[2018-05-13 07:07] #27 closed

[2018-05-14 06:15] #26 closed

[2018-05-17 05:46] #1 closed

[2018-05-21 05:05] #13 closed

[2018-05-21 05:06] nickdiego commented on #3
AOSP script has been moved to `examples`

[2018-05-21 05:06] #3 closed

[2018-05-21 05:31] nickdiego opened #35 "Slow parsing with automake-generated Makefiles"
`compiledb make` wrapper currently uses the `-B / --always-make` option to gather compile commands without having to execute an actual clean build. For automake-generated Makefiles, this option leads to very long parsing time, caused by `configure` script being executed for every make target.

Currently, to work around this issue, one can use a separate temporary build directory (to avoid clean bu

[2018-05-21 05:36] nickdiego commented on #14
Finally got some time to work on this.

It should be fixed as #34 has landed.
Please, @lyonlh and @eklitzke feel to test it with your codebases and give some feedback if possible. I also added a simple unit test using a real command generated by automake it seems to be working ok.

Unfortunately there is still [an issue](https://github.com/nickdiego/compiledb-generator/issues/35) when using `compi

[2018-05-21 05:36] #14 closed

[2018-05-21 07:06] #25 closed

[2018-05-21 10:43] lyonlh opened #37 "Cannot install compiledb by pip"
Under Ubuntu 18.04, cannot install `compiledb` by `pip`.
[code]
[code]

[2018-05-21 10:46] lyonlh commented on #14
@nickdiego Failed to install `compiledb`. Please refer to issue [#37](https://github.com/nickdiego/compiledb-generator/pull/37).

[2018-05-22 01:46] agnjunio commented on #37
Could you please paste the output of `python --version` ?

[2018-05-22 01:51] nickdiego commented on #37
Hi @lyonlh , thanks for reporting this.

Could you please provide your `python` and `pip` version?
Do you use PyPy or cpython?

[2018-05-22 02:38] lyonlh commented on #37
Hi @nickdiego @agnjunio ,
[code]

[2018-05-22 02:50] nickdiego commented on #37
Hi @lyonlh

It should be fixed now that 4e50786 has landed (v0.9.1).
Just checked in my Arch Linux box and in a Ubuntu 18.04 container.

Can you try a `pip install compiledb` again?

Thanks.

[2018-05-22 02:58] lyonlh commented on #37
Hi @nickdiego ,

It works now. Thanks.
I can check the issue #34 now :)

[2018-05-22 03:01] nickdiego commented on #37
Ok.

Thanks :)

[2018-05-22 03:01] #37 closed

[2018-05-22 03:03] lyonlh commented on #37
Hi @nickdiego ,

Although installation is success, zsh cannot find it.

[code]

[2018-05-22 03:11] nickdiego commented on #37
When you user `--user`, the package is installed in you home, so you must add the right directory to your path, for example:

[code]
BTW, pip usually points you this:
[code]

[2018-05-22 03:16] lyonlh commented on #37
Hi @nickdiego ,

Yes, you are right. It's located in `~/.local/bin`.
BTW, it's strange the pip-install output did not give the hint on my machine.

Thanks.

[2018-05-22 04:52] nickdiego opened #38 "Parser fails when invalid bash commands are present"
Expected behavior: Parser should just ignore those invalid commands
Actual behavior: `compiledb` fails with a `bashlex` parsing error and doesn't the compilation db file
Input samples:
[code]
Thanks @lyonlh for testing and reporting this.

[2018-05-22 05:12] #38 closed

[2018-05-22 05:14] nickdiego commented on #38
@lyonlh Could you please, retest this with `xfce4-hardware-monitor-plugin` with the current master branch?

To install it locally for tests, just run:
[code]

[2018-05-22 07:24] lyonlh opened #40 "Double pair of backslash and quote"
Tested on project `xfce4-hardware-monitor-plugin` by running both `make -nkw | compiledb` and `compiledb make`.

**Issue:** In `compile_commands.json`, there are some lines like `"-DHARDWARE_MONITOR_GLADEDIR=\"\"/usr/local/share/xfce4-hardware-monitor-plugin/glade/\"\""`, which has `\"\"` at right side.

**Expected:** `"-DHARDWARE_MONITOR_GLADEDIR=\"/usr/local/share/xfce4-hardware-monitor-plugin/g

[2018-05-22 07:47] lyonlh commented on #35
I recommend you to use `make clean` instead `-B` in the wrapper file accordingly.

[2018-06-13 22:45] lucazader opened #43 "Win32 assert should be removed"
Hi there,

Just found this awesome project!

I am using a windows dev system and have tested compiledb in the following cases:
Test steps:

1. `pip install compiledb`
2. Comment out `assert not sys.platform.startswith("win32")` in `site-packages/compiledb/cli.py`
3. Call `compiledb make` from the relevant shell.

Results:
- Windows Subsystem for Linux: Using `arm-none-eabi-gcc` and `makefiles`

[2018-06-14 12:57] nickdiego commented on #43
Hi @lucazader , thanks for testing and reporting this. Nice to know it's working ok on Windows/WSL platform.

Feel free to send a PR fixing this :)

[2018-06-14 13:04] nickdiego opened #44 "Refactor command parser to use OptParse/ArgParse python module"
Once the compilation command line and the compiler command is detected we could use python std modules OptParse or ArgParse to parse the command line options, then earning benefits such as simplifying parsing code, reducing the number of bugs, among others.

[2018-06-14 21:11] lucazader commented on #43
Hi @nickdiego

Sounds good. I have forked and made the PR.
Ping me if you need any WIP or future versions or features tested.

[2018-06-14 22:13] agnjunio commented on #43
Attaching PR #45

[2018-08-21 00:34] nickdiego opened #47 "Support skipping compiler flags through a regex command line option"
After a recent cleanup in parsing code, the hardcoded logic for ignoring some compiler flags has been completely removed. For most use cases it should be enough to pass the exact build command line, however it may be desirable to skip/ignore some compiler flag to specific use cases (indexing source code, etc..).

A regex-like command line option should work well for this.

[2018-09-01 01:50] nickdiego opened #48 "Use bashlex to tokenize input lines"
Currently `bashlex` is only being used partially to preprocess the substitution commands (commonly used in autotools generated makefiles). This task is to refactor parsing code to use the bashlex to parse the command lines into a list of `CommandNode`/`WordNode` to better extract compilation commands even from complex shell constructions.

[2018-09-01 08:41] nickdiego commented on #48
Fixed in 52e07d858

[2018-09-01 08:41] #48 closed

[2018-09-01 08:42] #44 closed

[2018-09-01 08:42] #43 closed

[2018-09-01 08:42] #40 closed

[2018-09-01 08:49] nickdiego commented on #12
Should be fixed in the current version.

[2018-09-01 08:49] #12 closed

[2018-09-03 00:56] nickdiego opened #49 "Support incremental update of compile_commands.json"
- If `compile_commands.json` already exists, update it with the compile commands extract from the input stream. Make this the default behavior
- Add a `-f`/`--overwrite` cmd line option to make it possible to make `compile_commands.json` file to be overwritten

[2018-09-03 02:10] #49 closed

[2018-09-03 02:12] nickdiego commented on #16
Should be fixed in the current version.

[2018-09-03 02:12] #16 closed

[2018-09-03 05:40] #35 closed

[2018-09-03 10:38] hameerabbasi opened #50 "TypeError with a project"
`compiledb` fails with xnd-all. Steps to reproduce:

[code]

Output:
[code]

[2018-09-03 15:01] nickdiego commented on #50
Thanks for reporting this.
I'll check it now :)

[2018-09-03 15:46] #50 closed

[2018-09-03 15:49] nickdiego commented on #50
@hameerabbasi
Could you please retest it.

[2018-09-03 15:59] hameerabbasi commented on #50
Yes, but it isn't detecting all the files.

[code]

Whereas `compiledb -n make install` produces just 36. The project uses autotools.

[2018-09-03 17:40] nickdiego commented on #50
It looks like each file is build twice. Run the following cmd:
[code]
Currently, `compiledb` try to keep only one entry per source file in the final compilation database (I'm quite sure to remember someone reporting issues in tools using compdb with duplicated compilation commands for the same file).

Have you tried to use the `compile_commands.json` generated with some specific tool?

[2018-09-03 18:14] hameerabbasi commented on #50
No, not yet. And looks like you're right...
[code]

[2018-09-19 10:31] Artalus opened #51 "Option to produce splitted arguments array (as in pre-0.9.5)"
I used `compiledb` for a while to analyze Makefiles produced by our legacy build system. It was very convenient since `compile_commands.json` file contained separate field `arguments: []` which I could then grep using `jq`. After recent update `0.9.2 -> 0.9.7` my scripts broke down since now `compiledb` just copies whole long compile command into a single `command` field. It would be nice to have

[2018-09-19 21:33] #51 closed

[2018-09-19 21:43] nickdiego commented on #51
Hi @Artalus , Thanks for reporting this.
Could you please test locally with the latest master.

[2018-09-19 21:44] nickdiego commented on #51
Also, note that several improvements/features/changes have been implemented since version 0.9.2, for example:
- By default, run in incremental mode (i.e: Updates the current `compile_commands.json` if it exists (unless `-f` is used) instead of rewriting it entirely always, this is particularly useful when running non clean builds with changes in flags/source files, so the `compiledb` is almost(?)

[2018-09-20 09:15] Artalus commented on #51
Thank you, it works fine now. Only I thought the joined `command` string was considered a feature, not a regression that should be removed completely, but this one is up to you and clang-tools compliance :)

[2018-10-03 12:34] evopen opened #52 "Does not produce the same db as bear"
Does it ignore assembly file?

[2018-10-03 13:44] nickdiego commented on #52
Yes. Currently the source file regex is hardcoded into the parser implementation.

Please, feel free to modify it, test and send a PR if it works well. It should be [pretty straightforward to do that](https://github.com/nickdiego/compiledb/blob/master/compiledb/parser.py#L30).

[2018-10-04 18:07] #52 closed

[2018-10-20 13:33] afbjorklund opened #54 "Handle versioned compiler binaries"
The current parser doesn't handle versioned binaries such as `clang-5.0`, only plain `clang`.

https://github.com/nickdiego/compiledb/blob/master/compiledb/parser.py#L28:_L29

Would be good if the regular expression could be expanded, to also allow a version suffix ?

https://packages.ubuntu.com/search?keywords=gcc
https://packages.ubuntu.com/search?keywords=clang

[2018-10-20 23:52] #54 closed

[2018-11-09 16:57] vlovich opened #56 "Parallel make (when combined with recursive?) results in broken compilation db"
Recursive make with parallel build (on project with lots of things being compiled?) is broken.  It causes a bunch of errors because the command lines are interleaved with each other. Unclear if the problem reproduces without recursive make but my guess is recursive make + parallel build is the only corner case here.

Seems like --output-sync would be the fix but then I see a bunch of `fcntl(): Bad

[2018-11-09 22:30] nickdiego commented on #56
Could you please provide the exact command line you're using to reproduce this? Any specific project?
A possible workaround would be to make it in two separate steps, for example:

[code]
I've been using this for automake-generare makefiles (recursive ones), and it seems to work..

Anyway, thanks for reporting this.

[2018-11-11 14:38] xiedeacc opened #57 "c-ipfs cannot generator compiledb correctly"
git clone 	git@github.com:Agorise/c-ipfs.git
cd c-ipfs
compiledb make
it generate a compile_database.json, but it's empty

[2018-12-13 20:35] zhaogang92 opened #58 "Failure on openssl 1.0.1"
When running it on openssl 1.0.1f, there is an error:

##Processing build commands from <fdopen>
make: *** [Makefile] Error 1
make: Failed to remake makefile 'Makefile'.
##Loaded compilation database with 0 entries from compile_commands.json
##Writing compilation database with 0 entries to compile_commands.json

The command I used:
./config
compiledb -n make

Environment: Ubuntu 16.04.5, compiledb

[2019-01-16 23:12] rzuckerm opened #59 "Please add argument to specify input compile database file"
[This code](https://github.com/nickdiego/compiledb/blob/master/compiledb/__init__.py#L48) is assuming that the original compilation database file is called `compile_commands.json` and is in the same directory where `compiledb` is executed. Please add a command-line argument to specify the input compilation database file

[2019-01-17 14:08] nickdiego commented on #59
Hi,
I've been really busy these days. So feel free to send a PR :-)
thanks

[2019-01-17 14:31] rzuckerm commented on #59
@nickdiego Thanks, I'm working on the changes right now.

[2019-01-17 19:37] aghag10 opened #60 "compiledb not working with autoconf"
Hi,

I have 2 projects - one with Makefile and other with autoconf/automake. I'm able to successfully create a database with Makefile but not with automake. It's failing to read local macros generated by autoconf with error "command not found"

AM I missing something?

Thanks!

[2019-01-17 22:38] rzuckerm commented on #59
https://github.com/nickdiego/compiledb/pull/61 is ready for review

[2019-01-21 00:49] nickdiego commented on #58
Just tested it by miself. It seems like `openssl` in "incompatible" with dry-run make option (`-n` / `--dry-run`) which is used under the hood to implement `compiledb make -n`. In this cases, I recommend to:

[code]
This worked for me, the output was:

[code]

[2019-01-21 00:49] #58 closed

[2019-01-21 00:52] nickdiego commented on #60
Hi, could you please provide more details? The exact output? Which project? (if they are open source, please provide their URLs so that I can have it a try)
Thanks for reporting it.

[2019-01-21 00:53] nickdiego commented on #56
Was that enough for your to work around the issue?

[2019-01-21 00:54] #56 closed

[2019-01-21 01:09] nickdiego commented on #57
It seems like `compiledb make` subcommand has some issue with some kinds of recursive make files, not sure what exactly, and I don't have time enough these days to dig into further. So, as a temp workaround I'd suggest this:

[code]
Just checked it and it worked for `c-ipfs`.
Thanks for reporting.

[2019-01-21 15:57] #59 closed

[2019-01-21 16:52] rzuckerm opened #62 "Specifying dash for output file no longer works"
After reading your `README`, I realize that my latest changes break the `-o-` option. Instead of outputting to stdout, it outputs to a file called `-`. I'll be working on a PR for this soon. Sorry for the inconvenience.

[2019-02-02 16:09] rzuckerm commented on #62
Can this issue be closed since the PR has been merged?

[2019-02-04 12:54] nickdiego commented on #62
Yes, done.

[2019-02-04 12:54] #62 closed

[2019-02-10 05:16] Falkgaard opened #65 "(idea) Silent mode"

[2019-02-10 05:26] #65 closed

[2019-02-10 06:55] Falkgaard opened #66 "(idea/suggestion) quiet/silent flag"
Hi,

It would be nice if there were an argument like "-s" to tell compiledb not to print the lines starting with ## or the line with the ().

At the moment I'm using:

when compiling from my terminal, but if I run the build in my editor (Sublime Text 3) the grep fucks up the output (instead of getting real-time printing, it won't print anything until it's done with the whole build).

Regards,
-Fal

[2019-02-11 13:43] agnjunio commented on #66
I believe I already suggested this feature in #63, it's simple but useful.

If you're feeling like creating a pull request, feel free to do so. Otherwise, I can implement it in my spare time.

[2019-02-19 09:55] nickdiego commented on #66
That would be nice. If possible, we could take the opportunity to get it of `if (verbose) print(..)` in favor of logging APIs.

Marking this as part of the release milestone.

[2019-02-25 20:30] maindoor opened #69 "compilation database not generated for OpenWRT"
Hi,
I tried to build a using a cross compilation toolchain using make and used compiledb to generate
compilation database, but it kind of hung after the compilation was done for about 10mins. So I Ctrl-C'd
it and got out. I didn't find any json files in my build dir. What do you think could have wrong ? Here is the last output:
make[1]: Leaving directory '/home/sk/openwrt_trunk/attitude-adjustment

[2019-02-26 21:12] nickdiego commented on #66
Closing this as #68 has landed.

[2019-02-26 21:12] #66 closed

[2019-02-26 21:25] nickdiego commented on #69
Thanks for reporting this.

What's the exact command are you running?

Essentially to be able to parse the build commands `compiledb` needs the build log. From the logs you've postedm, it seems like openwrt uses recursive makefiles (didn't build it before, so not sure), if that's the case I would recommend you to try to do the process in 2 steps:

1. Get/store the build log in some file, for examp

[2019-03-07 19:52] berilevi opened #70 "add support for a custom make path"
Can you please add support for specifying a path to a custom make rather than the one used in system path. This is useful for replacing default make with compiledb so all make commands are automatically redirected to compiledb.
So forexample in a shell script named "make" I want to be able to do compiledb  -o commands.json -c /usr/bin/mymake $1 $2 ...
Build systems using custom tools like yocto's

[2019-03-08 19:07] agnjunio commented on #70
Have you tried to use the pipe input method?

Example:
[code]

[2019-03-15 14:55] Archengius commented on #60
OpenJDK

[2019-03-15 17:12] aghag10 commented on #60
Sorry, I missed your message.
It's not an open source project. I'm pasting partial output -
src/cpp/Makefile.am:32: error: * does not appear in AM_CONDITIONAL
:
:

make[3]: *** [../Makefile.in] Error 1
configure.ac:55: error: possibly undefined macro: AC_MSG_ERROR
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
make[3]: *** [../conf

[2019-03-18 07:36] peter50216 opened #71 "compiledb incorrectly strip quotes."
Version: using master at commit 88ec08ea36e097dbd8c5ee2ad6123274767d18ea
Found this while trying to build kernel with compiledb.

[code]
The single quotes in the argument disappear.

[2019-03-21 06:01] kaijajan opened #72 "differenet database generated while using parallel build(-jN)"
I noticed different compilation database generated while using parallel build.
I use the following commands to generate build_log.txt

[code]

I fetch part of the built log did not generated in compile_commands.json and use both of them run with compiledb.
compiledb generates nothing between squares if build log is parallel one.
but done well with normal one.

part of built log without -jN, build_

[2019-03-23 12:30] berilevi commented on #70
I cant start a build by running my own make. In yocto you have to use bitbake. As a workaround i wrote a script to collect log files and fed them to compiledb

[2019-03-23 12:30] #70 closed

[2019-03-25 10:19] daniel6651 opened #74 "compile_commands.json overwritten with empty result if failed or empty result from make"
I have a project with many Makefiles in sub folders
I want to produce a single compile_commands.json for use with clang_tidy
Traversing all of the Makefiles and outputting to the same compile_commands should work I think

But when compiledb is given a Makefile which does not produce anything or with an error - then the existing compile_commands.json is overwritten with an empty file - I would expe

[2019-04-09 20:40] maindoor commented on #69
I'm sorry, I had moved on to another project. I will get back to this within the next month or so. We'll get this sorted. Thank you for such a great tool and support.

[2019-05-16 01:45] jackluo923 opened #79 "examples/compiledb-aosp.sh is broken for AOSP 8.0.0"
Hi Nick,
     Is there any indication which version of AOSP the compiledb-aosp.sh script work? There seems to be  too many issues which breaks the script on AOSP Android 8.0.0.

[2019-06-12 06:20] LarsMichelsen opened #81 "Next release schedule?"
Hi,

the release of 0.9.8 was in 10/2018. We are waiting for a fix that has already been merged to the master to be included in a released version.

Can someone tell when we can expect the next version?

Thanks!

[2019-06-12 11:02] nickdiego commented on #81
Hi.
I've been busy with other stuff these days and forgot to upload 0.10.0 release. I'll do it now.
Thanks for your feedback.

[2019-06-12 11:57] nickdiego commented on #81
v0.10.0 is now available.
Appreciate your feedback.

[2019-06-12 11:57] #81 closed

[2019-06-12 12:06] martinlightmatter commented on #81
Thanks for the release! I was also needing some features from master.

[2019-06-12 13:29] LarsMichelsen commented on #81
awesome! Thank you! :1st_place_medal:

[2019-06-21 05:31] unixnme commented on #60
Hi, I am also experience similar problem. I want to create compile_commands.json for GNU coreutils (https://ftp.gnu.org/gnu/coreutils/coreutils-8.31.tar.xz), but I am getting an empty json file. To reproduce:

wget https://ftp.gnu.org/gnu/coreutils/coreutils-8.31.tar.xz && tar xfj coreutils-8.31.tar.xz && cd coreutils-8.31
./configure
compiledb -n make
cat compile_commands.json
[]

Platform: macOS

[2019-07-11 13:36] Atmelfan opened #83 "-n/--no-build with make is ignored in 0.10.0"
Trying to run `compiledb -n make` tries to build even with -n or --no-build.

Have tried on ubuntu 19.04 and Fedora 27, both produce identical results.

Steps to reproduce:

1. `pip3 install compiledb==0.9.8`
2. `compiledb -n make #works`
3. `pip3 install compiledb==0.10.0`
2. `compiledb -n make #fails`

Here is a cutout where I did this on an intentionally broken project:

[code]

[2019-07-11 19:06] nickdiego commented on #83
Hi, Thanks for reporting.

This issue has been fixed in #82 and should be available in just published [Release 0.10.1](https://github.com/nickdiego/compiledb/releases).

Appreciate your feedback.

[2019-07-11 19:06] #83 closed

[2019-08-02 11:32] Alchiadus commented on #69
Unfortunately the suggestion did not work for me. I built OpenWRT successfully and tried to generate the compile commands from the `build.log` (as can be expected this is a large file, about 16MB) as follows:
[code]

[2019-08-02 16:59] nickdiego commented on #69
It seems to be a problem with enter/leave directory parsing.

You should add `-w` as I recommended above. (atm we don't an option to ignore enter/leave dir messages).

Anyway, could you upload your build log file somewhere so that we can debug the issue?

Thanks.

[2019-08-05 07:21] Alchiadus commented on #69
Unfortunately I did not keep the build log and my attempts to reproduce the crash have not been successful.

[2019-08-22 07:26] PengZheng opened #84 "Does not work with command with wildcard"
[code]

[2019-09-20 07:04] seujza opened #85 "compiledb not working with linux kernel"
Hi,
when I exec `compiledb -n make` in Linux kernel source code，It's not working
there is the log
Thanks!
[code]

[2019-10-19 15:42] RPCMoritz opened #87 "compiledb fails with localized make output"
The parsing logic appears to be dependent on english-language output. (e.g. "Entering directory ..."). This is not given on localized installations, therefore the parsing will fail, as files are not being correctly found.

To mitigate this, the compiledb make-wrapper should prepend "LC_ALL=C.UTF-8" to the make call, while the documentation should suggest using a supported locale, and a warning sho

[2019-10-19 17:20] RPCMoritz commented on #72
I think this is due to parallel builds generating a disordered output. See how below all -c/-o/strip are clustered, whereas above they are in the correct order for each artifact.
If you use -Bwnk flags for make, you should be able to generate the output with -j1 in a reasonable amount of time - therefore I would recommend that you avoid unnecessary concurrency. compiledb is quite fragile when it c

[2019-10-19 17:29] RPCMoritz commented on #74
A default-on option to abort on errors (at least for a specific Makefile/folder) would indeed appear to be sane.

[2019-10-21 01:09] amithrc opened #88 "I tried to use -e option to skip a directory. (Constructed a regular expression) but for some reason it does not work. I would like to escape parsing one directory which I am not interested in"

[2019-10-21 03:13] Zero-Fanker opened #89 "dir_stack.pop() IndexError: pop from empty list"
when i tried to generator compile_commands.json from a makefile build log, it stopped and printed error :

[code]

i added a few debug log myself , so the line number may not be accurate but close .
btw, what does the number in "make[3]" , "make[5]" mean ? i think these numbers are not cared by compiledb yet .

[2019-11-15 18:22] idanpa opened #90 "Redundant match for square brackets when matching 'Entering directory' and 'Leaving directory'"
On parser.py lines 35 and 36:
[code]
I see you expect make to print some number inside square brackets.
Why is it so? My make doesn't print this number (GNU Make 4.1 on Ubuntu 16.04) with the given flags from the manual (`make  -Bnwk -C directory`)

[2019-11-25 09:23] fbs2016 opened #91 "How to run this tool when the Makefile isn't in the current folder"
I want to run the tool with the Makefile under other folders.
I try to run it with option "-d" : compiledb -d subfolder/ make,
but it report err as command "make" can't find the file Makefile.

What happens if I set the option "-d" with a folder? Thanks
-d, --build-dir PATH   Path to be used as initial build dir

[2019-11-27 05:08] saimen commented on #91
Make's option to use a Makefile in a specific directiory is `-C`
I didn't test this but you should be able to call `compiledb make -C subfolder`

[2019-11-27 07:00] fbs2016 commented on #91
Saimen
Thanks a lot.

[2019-11-27 07:00] #91 closed

[2019-12-04 08:16] lyonlh commented on #90
@idanpa
It's about the depth of recursion. You should get the point from [https://stackoverflow.com/questions/27943149/what-does-numbers-in-make1-make2-make3-mean](url) and [https://stackoverflow.com/questions/12842469/makes-output-the-number-in-the-brackets](url).
The reason your make doesn't print the number is there's no recursive make of your project.

[2019-12-04 08:19] lyonlh commented on #90
In the case of non-recursive, the regex is not curate.

[2019-12-04 08:53] lyonlh commented on #89
@Zero-Fanker
Could you attach the build log?

The number is about the depth of recursion. You should get the point from https://stackoverflow.com/questions/27943149/what-does-numbers-in-make1-make2-make3-mean and https://stackoverflow.com/questions/12842469/makes-output-the-number-in-the-brackets.

[2019-12-04 10:08] idanpa commented on #90
Thanks @lyonlh for explaining. This is causing the parser to fail on non recursive make. Should I pass some extra flag to make or maybe you should make this regex part optional?

[2019-12-04 14:41] unix-junkie opened #92 "Python 3: TypeError: __init__() got an unexpected keyword argument 'encoding'"
I'm trying to run `compiledb` (the Python 3 version) on a _Debian 9_ box:

[code]

Python version is:
[code]

When using the Python 2 version, there's no such error, and `compiledb` works correctly.

[2019-12-04 18:24] agnjunio commented on #92
Just to clarify, what version of `compiledb` are you running?

[code]

[2019-12-04 22:37] agnjunio commented on #90
I guess the obvious fix for this is to make the brackets in the regex optional. Someone else agree? If so, I can patch this right away.

[2019-12-05 02:22] lyonlh commented on #90
@agnjunio
You're right. You can patch it with a non-group brackets.
Thanks!

[2019-12-05 09:45] unix-junkie commented on #92
It's version 0.9.8:

[code]

Strangely, the Python 2 version is slightly newer:

[code]

[2019-12-06 09:49] lyonlh commented on #72
@kaijajan
The `make`'s option --output-sync would help you.

[2019-12-08 20:06] agnjunio commented on #92
There were a recent patch to fix the issue you mentioned. Probably the fix is in the latest version (0.10.1). Try to have it installed on your python 3 version:
[code]

[2019-12-09 10:52] unix-junkie commented on #92
@agnjunio Unfortunately, it's still version 0.9.8:

[code]

[2019-12-09 22:26] agnjunio commented on #92
So, I made some initial testing and saw that your Python 3.5.4 version is currently not supported by the versions listed in `setup.py`. Maybe that's why you can't upgrade to 0.10.1.

I will dig a little bit more to find out why versions 3.0-3.5 aren't passing in the tests.

[2019-12-28 21:58] nenad-novak opened #94 "add suport for clang-cl and cl"
windows clang-cl and cl compilers are not recognized by cc/cpp compiler regex expressions

[report.txt](https://github.com/nickdiego/compiledb/files/4007513/report.txt)

[2019-12-30 01:42] TheGreatRambler opened #95 "aarch64-none-elf-g++ isn't recognized by CompileDB"
I am using DevKitPro with Msys2 in order to compile Switch homebrew. The output of the DevKitPro toolchain is standard GCC output, as evidenced by the fact that VSCode can successfully parse the error messages. When I run `compiledb make` or `compiledb -n make`, however, CompileDB just generates `[]` for the compile_commands.json. The output is similar to this:

[code]

I am able to successfully c

[2019-12-30 18:07] TheGreatRambler commented on #95
Alternately, I have a feeling that this problem may be due to the msys2 paths present in the makefile output.

[2019-12-31 21:22] TheGreatRambler commented on #95
Okay, I've narrowed it down. This program can't handle msys2 paths.

[2020-01-22 13:55] wireless-road opened #96 "compiledb for clang and/or MinGW GCC generates empty compile_commands.json"
Hi!
Have pretty simple C project containing just one source file `hello.c`:

[code]
here is `Makefile `for this project:
[code]
I've compiledb installed by:
`pip install compiledb`

So, when I'm trying to run `compiledb make clang`:
It shows me following output:
[code]
But generated `compile_commands.json` contains just square brackets:
`[]`

Same if I try to compile by `compiledb make mingw`.

So

[2020-01-22 14:38] TheGreatRambler commented on #96
I have the same error, but in my case, the file is completely empty.

[2020-01-22 14:51] wireless-road commented on #96
Unfortunately, `-n` didn't help.
I run compiledb from source with enabled debug info and it shows me following:
[code]
Seems that ` symbols breaks everything but when I run `compiledb make mingw` from command line I didn't see any `Entering directory` and  `Leaving directory` messages at all.
Can't understand how to fix that.

[2020-01-22 16:25] TheGreatRambler commented on #96
Can;t clang generate compile_commands.json files natively?

[2020-02-04 03:08] SethGower opened #97 "Doesn't work with a makefile that calls other makefiles"
I was hoping this would be able to handle this properly, since I this is how the build system at my job works, but `compiledb` can't seem to capture the make instances of the subshells/subprocesses when the makefile that it is called on calls `make` on another directory. Below is an example of what I am talking about
[code]
Each of these subdirectories is just an arbitrary homework assignment for

[2020-04-09 02:35] tan-wei opened #98 "Sometimes, an empty file is generated"
Firstly, thanks for this great tool to make me use VS Code with cquery very happy.
However, sometimes, `compiledb make` or `compiledb -n make` will generate a json file with only an empty array included.
The project [lighttpd1.4](https://github.com/lighttpd/lighttpd1.4) can reproduce the problem if we use `./autogen.sh && ./configure && make` instead of CMake. How does it happen? How to solve it?

[2020-04-18 23:01] phil-blain commented on #71
I noticed the same thing building Git (`compiledb make`).

[2020-05-03 10:40] Petross404 commented on #85
What happens if you run `make menuconfig` first?

[2020-05-06 16:03] parhusip commented on #96
I have the same issue, my compile_commands.json just show:
[]

[2020-05-21 15:27] tobbelobb opened #99 "Support for .c++ file extension"
Hello Compiledb developers!

Could we change
[code]
into
[code]
please please pleeeease?

I know .c++ is not a widely used file extension, but if you ever see it in the wild, you would expect the file to contain c++ source code and nothing else, right?

[2020-06-17 05:38] #95 closed

[2020-06-17 07:36] sonulohani commented on #96
Same with me. I am getting compile_commands.json with only [] in Windows

[2020-06-19 23:51] travisdowns opened #100 "Fails/crashes for makefiles that use a recursive $(MAKE) pattern to rebuild when makefile changes"
I have a makefile that uses a specific matter to trigger a full rebuild when the `Makefile` itself changes, like so

[code]

Note the `dummy.rebuild` target. It causes `$(MAKE) -s clean` to be called up front, cleaning the project so the build rebuilds everything. When running `compiledb make` on this project it takes almost a minute and errors out like so:

[code]

Looks like an infinite recursio

[2020-06-30 17:21] J-keaper opened #101 "It seems that compiledb cannot parse gmake's change directory message"
I have the following two files: `make.log` is build log for `make`; `gmake.log` is build log for `gmake`;
There is no difference except build tool( `make`/`gmake`)  in the build.
But the output of parsing the two files using `compiledb` are different.
Please see the following operation:
[code]

It's perfect, but when it meet `gmake`, something is wrong.

[code]
There is only one entry, other one e

[2020-06-30 17:42] J-keaper opened #102 "Different results betweent "compiledb make" and "make | compiledb""
I have these following files.

[code]
I found the different results between `compiledb make` and `make | compiledb`.

[code]
One entry correspond to `main.c` in `subdir` is missing.
It's confusing that if you use `make | compiledb`, everything is ok.

[code]

Can someone tell me why？

[2020-06-30 17:50] J-keaper commented on #96
I encountered the same error. I fix this through using `make | compiledb` instead of `compiledb make`. See this [Issue](https://github.com/nickdiego/compiledb/issues/102)

[2020-06-30 17:56] J-keaper commented on #102
Add more detail message.

Verbose message for `compiledb make`:
[code]
Verbose message for `make | compiledb`:
[code]
Hope this is helpful.

[2020-08-04 07:40] fbs2016 opened #103 "Poor performance on Windows host when parse big build log file"
Poor performance on Windows host when parse big build log file, the test result as following:

1. build the project with many source file,
    make -n -j8 | tee build.log
    Elapsed Time：00:00:12s
2. Parse the build log to generate the DB:
 compiledb --parse build.log
Elapsed Time：0:07:08s

It takes too much time parse the build log.

[2020-08-06 09:07] imran27 commented on #96
Same issue with me too.

I am working on a huge project that generally uses a couple of different compilers to compile for different embedded platforms, all on a remote ubuntu machine.

All I wanted to do is have a compilation db to get proper autocompletion, code jumping/navigation etc.

I exported the make -Bnwk output to a build.log, copied it to my local machine and used compiledb.exe --parse

[2020-08-24 09:11] Francois-Michaut-Epitech opened #104 "Compiledb parse shell redirect files as if they where gcc arguments"
I have a Makefile with a build rule similar to this one :

[code]
I redirect the error output from g++ to a file for parsing purpose by custom tools.

When I invoke `compiledb` on this Makefile, I end up with someting like the following :

[code]

As you can see, the file where the error output from g++ is redirected is added to the argument list.
When my linter call g++ with this argument list, i

[2020-09-14 01:45] vtronko commented on #98
I think it's probably because it won't read inner makefiles recursively.

[2020-09-14 04:28] tan-wei commented on #98
@vtronko Thanks for your reply. Is there any solution to this? I can't find information in the repo.

[2020-09-16 18:29] vtronko commented on #98
@tan-wei I am trying to resolve this issue myself, I'll keep you informed about my findings.

[2020-09-17 01:07] vtronko commented on #98
@tan-wei I solved my problem. I figured out, compiledb couldn't fill it's directory stack correctly because the project I was building used `--no-print-directory` makeflag.

Most likely something interferes with directory stack in your case too.

[2020-09-17 05:06] tan-wei commented on #98
Thanks for your analysis. However, I still can't find "something" which interferes with directory stack in my another try. So I upload the build log file here. I wonder whether you can help me. Thanks very much.

[2020-09-18 13:56] #98 closed

[2020-09-23 13:33] anlexN opened #105 "FileNotFoundError"
![image](https://user-images.githubusercontent.com/8686739/94019434-5f368200-fde4-11ea-8797-847d6169b154.png)
what happened?

[2020-10-05 16:29] ykoehler opened #106 "compiledb attempts to create parsetab.py?"
ykoehler@dev-ykoehler $ compiledb -n make
Unable to create '/usr/lib/python2.7/site-packages/bashlex/parsetab.py'
[Errno 13] Permission denied: '/usr/lib/python2.7/site-packages/bashlex/parsetab.py'

While would compiledb try to create new .py files inside site-packages?

[2020-10-29 13:06] amacara1 opened #107 "Support for other compilers (name and number)"
compilerdb seems hardcoded (or I have not found in documentation?) to compiler name gcc. Would be great to support a different compiler name (armcc, cl6x, etc) and ever greater to support multiple compiler in the same run (the case with heterogenous platforms).

[2020-11-09 10:28] Thaodan commented on #99
PR?

[2020-11-09 20:11] tobbelobb commented on #99
Ok, created one: https://github.com/nickdiego/compiledb/pull/108

Closing this issue, we can keep further comments in the PR

[2020-11-09 20:11] #99 closed

[2020-11-12 06:38] Yihen opened #109 "maybe don‘t work for std cpp standard library"
In bitcoin opensource, I use `compilerdb -n make` to generate compile_commands.json; when I open the *.cpp file, ccls report ERROR as following pic:

![WX20201111-174002](https://user-images.githubusercontent.com/7480459/98904462-9e37a880-24f4-11eb-9e3d-36ef1af6a2ae.png)

How to handle it?

[2020-11-13 08:26] #109 closed

[2020-11-13 08:26] Yihen commented on #109
have solved by setting coc.vim configuration about clang item.

[2020-11-13 08:27] Yihen commented on #109
https://github.com/bitcoin/bitcoin/issues/20369

[2020-11-17 11:52] Kloenk commented on #85
Also fails with `compiledb -n make O=build` after running `make O=build defconfig

[2020-11-24 14:14] andrewstevens-infineon commented on #96
I ran into this Issue working under msys on a Windows host.   As a python package compiledb relies on the standard python pathname processing built-ins.   These, of course, do not handle the special pathname conventions Posix shell environments like MSYS or Cygwin use to represent Windows drive-letters.

As a result joining the current working dir and the filename path captured from make does not

[2020-11-26 01:32] TomMD opened #111 "Compilation database is empty with recursive make pattern"
I'm seeing empty compilation databases from facebook/zstd makefile.  It has a pattern of:

[code]

Meaning if we:

[code]

There are lots of invocations of `gcc` but the resulting `compile_commands.json` is empty (`[]`).

[2020-12-11 16:47] Str1ker17 commented on #97
Some suggestions to try:
1) Have you tried pipelining, i.e. `make | compiledb`?
2) You can use a hidden `-c` or `--cmd` options to tell compiledb how to build your project, if the compilation command is not a simple `make`.
https://github.com/nickdiego/compiledb/blob/b615d526019c7b809882090ea7eaff85423f2b13/compiledb/commands/make.py#L68

[2020-12-21 01:47] shenliyang521 commented on #98
@tan-wei 请教一下，LANG从zh_CN.UTF8成en_US.UTF8，是直接改变的系统的配置语言文件么

[2020-12-21 06:35] tan-wei commented on #98
直接改变当前的环境变量就行，`export LANG=en_US.UTF8`就可以，没必要改变全局的。

[2020-12-21 06:49] shenliyang521 commented on #98
我在使用compiledb --parse命令的时候，在中文和英文系统下生成的json文件内容差距很大

[2020-12-21 07:35] tan-wei commented on #98
看起来就是英文系统会影响`compiledb`解析过程。

[2020-12-21 07:43] shenliyang521 commented on #98
我这边主要是在中文系统下，但是中文系统生成的json文件会少很多内容，而英文系统下内容相对比较多，这个您那边有解决方案么，怎么可以在中文系统下正常使用？

[2020-12-21 07:49] tan-wei commented on #98
没啥特别好的解决方案，我默认这个软件目前就支持英文环境，所以在中文环境下有问题。不过我本人没遇到更多的问题，够用就行，一方面绝大部分相关的项目都是CMake相关的，也就不需要`compiledb`；另一方面，建议你也可以在项目里试试`bear`，跟这个项目类似，你看看能不能好点……

[2020-12-21 09:47] shenliyang521 commented on #98
当前是没法修改源码支持中文系统么，比如改匹配的正则表达式之类的，因为我看make判断是的时候是Entering/Leaving directory

[2020-12-21 10:09] tan-wei commented on #98
The author would say: PR is welcome!

[2020-12-25 06:29] shenliyang521 commented on #98
table.customTableClassName {margin-bottom: 10px;border-collapse: collapse;display: table;}.customTableClassName td, .customTableClassName th {border: 1px solid #ddd;}我这边调试代码，我print，有些地方可以打印出来，有些地方不行，这个您清楚怎么解决么
  统信软件技术有限公司 UnionTech Software Technology Co., Ltd. 　官网：www.uniontech.com　　此电子邮件消息仅供预期收件人使用，其中可能包含保密或特权使用信息。如果您不是预期收件人，请勿使用、传播、分发或复制此电子邮件或信赖此邮件采取任何行动。如果您误收了此邮件，请立即回复邮件通知统信软件技术有限公司发件人，并删除误收电

[2020-12-25 06:31] shenliyang521 commented on #98
@tan-wei 请教一下，我调试源码，通过print打印，有些可以输出到终端，有些无法显示，这个您清楚怎么解决么

[2020-12-28 07:17] shenliyang521 commented on #98
@tan-wei 英文系统下，如果路径带有中文，是不是也会有问题？

[2020-12-28 09:14] shenliyang521 commented on #109
@Yihen compiledb/cli.py中，
def cli(ctx, infile, outfile, build_dir, exclude_files, no_build, verbose, overwrite, no_strict, add_predefined_macros,use_full_path, command_style)，这些参数的出处在哪，我在中文系统下需要调试，好像是no_strict的这个参数对生成的json文件有一影响

[2020-12-30 06:06] shenliyang521 commented on #98
@tan-wei I adapted the Chinese system to generate JSON file. Please refer to the process of submitting code

[2021-01-29 02:55] artisdom commented on #85
Linux kernel comes with "scripts/clang-tools/gen_compile_commands.py" that can generate "compile_commands.json" by parsing ".cmd" files.

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=b30204640192234d18f9168f19f9cd693485b86d

[2021-02-25 05:30] AJigsawnHalo commented on #96
Same issue here. compiledb only produces a `compile_commands.json` that only contains `[ ]`  when run in a `build` folder. Interestingly when I ran it at the project's root folder it produces a `compile_commands.json` file that contains an entry for the main.cpp file in there but not for .cpp files inside other folders.

Also I tried running compiledb on the same project inside WSL2 and it works p

[2021-03-10 02:17] OrenHg opened #113 "always get empty compile_commands.json when parse aosp verbose.log"
I use compiledb -p verbose.log to parse a aosp build log
but always get empty compile_commands.json

is there some way to debug why ?

[2021-03-13 23:36] gnikivmj commented on #106
I have the same issue here, solved it by using root to call this command once(compiledb -n make), after that the parsetab.py will be created and you can continue with regular user

[2021-04-19 13:35] ykoehler commented on #106
ok, yeah, running once as sudo, then without works, but that is to me still a bug to be fixed.

[2021-04-19 13:38] ykoehler opened #114 "compiledb should regroup all -D and -I option together (vscode doesn't like that when they are not)"
using a command line such as

gcc -DSTUFF=1 -O2 -DMORE_STUFF=1 -o file.o file.c

result in the same pattern in the compile_commands and vscode doesn't like that, it would be great to have a vscode compatible mode where the above gets converted to

gcc -O2 -DSTUFF=1 -DMORE_STUFF=1 -o file.o file.c

[2021-04-24 14:14] gr4yj3d1 commented on #107
I would like to add emscriptens `emcc` and `em++` here

[2021-05-20 14:28] samvasko opened #116 "Support changing directories as part of make command"
Sometimes make is called with -C / --directory. This is currently not supported without disabling the strict mode. Following commands results in empty file.

    compiledb -v -o compile_commands.json --no-build make -C project/

Current workout is to manually specify the project

    compiledb --build-dir=project/ -v -o compile_commands.json --no-build make -C project/

I think this could be feasi

[2021-06-01 13:26] Klaim commented on #107
Ditto.

I'm using Emscripten and various clang verions in a project targeting iOS, WASM and desktop and using [`build2`](https://build2.org). As pointed in [that `build2` issue](https://github.com/build2/build2/issues/96), there is a simple command to invoke `compiledb` to generate a `compile_commands.json` for working, for example, with Visual Studio Code's intellisense.
However it doesnt work wi

[2021-07-06 00:20] drmikehenry commented on #71
This seems to be an issue with bashlex, e.g.:

[code]

This might be related to https://github.com/idank/bashlex/issues/26 and/or https://github.com/idank/bashlex/pull/56.

[2021-07-21 10:32] jjpark78 opened #117 "parsing error"
cmake + visual studio 16 2019

error logs with -v option

[code]

[2021-07-21 10:33] jjpark78 commented on #117
does it support visual studio ??

[2021-10-22 19:19] akshit-sharma opened #118 "support for nvcc"
Support for converting [cuda](https://developer.nvidia.com/cuda-toolkit) from Makefile to compile_commands.json.

###  Sample Makefile
[code]

### current compile_commands.json creation
[code]

[2021-11-25 22:05] shyun3 opened #120 "Backslashes in include paths not processed properly"
Hello, I tried using `compiledb` on Windows and it looks like backslashes in include paths get deleted.

Here's a `make` output:
[code]
Note that this has been manually sanitized from an original.

Resulting `compile_commands.json` after running `compiledb --parse`:
[code]
This output has also been manually sanitized but should get the point across.

Note how the backslashes in the `-I` parameter

[2022-01-05 10:48] AleXoundOS commented on #60
It seems this happens when make is called recursively.

[2022-02-22 14:34] michael-schwarz commented on #87
We had the same issue, and it took us quite a while to figure out why it was working on our local machines, but not on our servers that have the language set to German.

It would be really helpful to prominently document this somewhere (or even fix it, but that probably requires more work).

[2022-02-22 20:47] nickdiego commented on #87
As you probably noticed, nowadays I'm not actively maintaining this (due to lack of time). But please feel free to send PRs that I'll review as the time permits. thanks

[2022-02-26 21:43] mataha commented on #105
Have you tried `compiledb make --cmd mingw32-make`? I'm assuming you've been using MinGW.

[2022-03-03 07:38] sebastian-96 opened #121 "FileNotFoundError"
![Snag_144cf5](https://user-images.githubusercontent.com/100831146/156518440-217162a3-6688-43b9-8426-d3865c138fb0.png)

[2022-05-18 11:15] SeanPcWoo commented on #97
@SethGower Hi，I meet the same question with u.
Do u have any other method to solve it now?
this question also cause that My project can not wrok in Clion.

[2022-05-23 20:26] BinhaoQin commented on #118
It seems all targets for filetype `.cu` is ignored. I use clang++ to for compiling cuda files, but it is ignored too.

[2022-08-22 17:13] okuma10 opened #124 "Windows PATH variables parsed with no '\'"
On windows using a PATH variable for includes ends up with a string with no '\'
Example:
In Makefile:  -I$(VK_SDK_PATH)/include
When make is run: -IC:\VulkanSDK\1.3.216.0/include
In compile_commands.json:  -IC:VulkanSDK1.3.216.0/include

[2022-08-26 23:18] MerijnHendriks opened #125 "MSYS2: empty compile_commands.json when running from make target"
As the title says, when running from a make target using msys2's `make` package (https://packages.msys2.org/package/make),  the `compile_commands.json` file is an empty array.

[code]

But when I run it from terminal directly, it produces a correct `compile_commands.json`:

[code]

I tried specifying the path directly (absolute, relative) and the file directly, but no dice.

[2022-08-27 00:21] MerijnHendriks commented on #125
A more clear example:

[code]

Running through the make target:

[code]

Running from the command line directly:

[code]

[2022-08-27 01:22] MerijnHendriks commented on #125
Using the `mingw32-make` package (https://packages.msys2.org/base/mingw-w64-make) instead solved my issue!

[2022-08-27 01:22] #125 closed

[2022-10-14 13:04] gr4yj3d1 commented on #107
I'm not that familiar with the internals of compildb, maybe someone else can better comment on this. I think it might just be as easy as extending `cc_compile_regex` and `cpp_compile_regex`in parser.py.
In my case `r"^.*-?[gc]\+\+-?[0-9.]*$|^.*-?clang\+\+-?[0-9.]*$|^em\+\+$"` did the trick.

[2022-11-11 08:38] arminveres commented on #124
I just noticed this issue as well. Is the PR #126 going to be merged i.e. the problem fixed in the foreseeable future?
Thanks for working on it @jinyi-x

[2022-11-11 09:56] okuma10 commented on #124
@arminveres did the fix worked for you? Nothing on my end

[2022-11-11 10:33] arminveres commented on #124
Hi, I didn't try. So I am guessing it didn't work for you?

[2022-11-11 13:01] okuma10 commented on #124
yes windows Path variables are without their '\' . I suppose it's a simple correction since everything is extracted correctly it just skips adding that character. I'll try to look into it next week.

[2022-11-12 18:50] jinyi-x commented on #124
This patch fixed this problem on my system (Windows 10 LTSC 2021 & Python 3.10).And I noticed that if I switch my python into python3.6, it seems doesn't need any patch.Maybe it has relation with python version?I will keep testing.
来自 Outlook<http://aka.ms/weboutlook>
________________________________
发件人: Armin Veres ***@***.***>
发送时间: 2022年11月10日 20:38
收件人: nickdiego/compiledb ***@***.***>
抄送: ji

[2022-11-14 08:26] okuma10 commented on #124
So I looked into it today and it appears the issue is due to this module --> `bashlex`,  used to parse the command output from make
![image](https://user-images.githubusercontent.com/44575116/201610157-3fc49587-3d82-45c0-9984-84d8044c6730.png)

as you can see the `preprocesed` variable has the correct string, but the output of the `bashlex.parser.parse()` function is without the `\\` character
![i

[2022-11-15 07:27] okuma10 commented on #124
I think this issue is solved by the above comment, maybe author can apply better change, but I also found this, trying to solve why the vulkan header wasn't being detected by nvim's clangd lsp.
![image](https://user-images.githubusercontent.com/44575116/201855727-b721985b-351f-407e-87e1-33c25f2ac869.png)

Do you guy's still get the same `compile_commands.json` ...with the arguments having `" ' arg

[2022-11-15 08:04] arminveres commented on #124
Nicely done. It really solves it. I am also gettting the " ' ' " quotation. I haven't investigated it, I only ran a quick sed from inside neovim and now it works!

I think you should propose a PR for this.

[2022-11-15 08:15] okuma10 commented on #124
@arminveres I looked up an old `compile_commands.json` generated from `compiledb`, so it might be something from the change. I'll take a look at it later and will try to find why it adds those quotation marks.

[2022-11-15 16:11] okuma10 commented on #124
@arminveres I looked it up and it appears the " ' ' " pattern is introduced by @jinyi-x 's solution of using `repr(s).encode().decode()` in the `unescape(s)` function at the end.
Not sure what exactly that function does as there are no comments, but on my end Windows10 Python 3.11 returning to the original output of `s.encode().decode()` was giving me errors that cannot read a byte at the end of t